{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<h1 class="cart-title">Mon panier</h1>

{% if cart is not empty %}
    {% for item in cart %}
        <div class="cart-container">
            {% if item.image %}
                    <img src="{{ asset('uploads/' ~ item.image) }}" alt="{{ item.name }}" width="100">
                {% else %}
                    <p>Aucune image disponible</p>
                {% endif %}
            
            <div class="cart-item">
                <div class="item-details">
                    <p class="cart-name">{{ item.name }}</p>
                    <p>Prix : {{ item.price|number_format(2, ',', ' ') }} €</p>
                    <p>Taille : {{ item.size }}</p>
                </div>
                <form method="post" action="{{ path('app_cart_remove', { index: loop.index0 }) }}" class="cart-button">
                    <input type="hidden" name="_token" value="{{ csrf_token('remove-item-' ~ loop.index0) }}">
                    <button type="submit" class="button-click-cart">Retirer du panier</button>
                </form>
            </div>
        </div>
    {% endfor %}

    <div class="cart-buy">
        <div class="total">
            <p class="cart-total">TOTAL : {{ total|number_format(2, ',', ' ') }} €</p>
        </div>
        <div class="cart-links">
            <a href="{{ path('app_create_checkout_session') }}" class="cart-link-finalize">Finaliser ma commande</a>
            <a href="{{ path('app_shop') }}" class="cart-link-continue">Continuer mes achats</a>
        </div>
    </div>
{% else %}
    <p>Votre panier est vide.</p>
{% endif %}

{% endblock %}
