{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="title-home"> Nos Sweat-shirts vedette</h1>
<div class="featured-sweatshirts-home">
    {% for sweatshirt in featured_sweatshirts %}
        <div class="sweatshirt-item-home">
            <div class="sweatshirt-image-home">
                    {% if sweatshirt.image %}
                        <img src="{{ asset('uploads/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}" width="100">
                    {% else %}
                        Pas d'image
                    {% endif %}
            </div>
            <div class="sweatshirt-container-home">
                <div class="sweatshirt-details-home">
                    <h2>{{ sweatshirt.name }}</h2>
                    <p>{{ sweatshirt.price|number_format(2, ',', ' ') }} €</p>
                </div>
                <div class="sweatshirt-button-home">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_product') }}" class="button-click-home">Voir</a>
                {% endif %}
                </div>
            </div>
            
        </div>
    {% else %}
        <p>Aucun sweatshirt en vedette trouvé.</p>
    {% endfor %}  
</div>
{% endblock %}
