{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<section class="register-form">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

    <hr class="separator">
    
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Nom d\'utilisateur :'
        }) }}
        
        {{ form_row(registrationForm.email, {
            label: 'Adresse mail :'
        }) }}

        <br>

        {{ form_row(registrationForm.deliveryAddress, {
            label: 'Adresse de livraison :'
        }) }}
        <br><br>
        
        <div class="password-container">
            <label for="{{ registrationForm.plainPassword.vars.id }}">Mot de passe :</label>
            <div class="input-group">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                <div class="password-icon">
                    <span class="material-symbols-outlined eye-off">visibility_off</span>
                    <span class="material-symbols-outlined eye-on">visibility</span>
                </div>
            </div>
            {{ form_errors(registrationForm.plainPassword) }}
        </div><br>

        <div class="password-container">
            <label for="{{ registrationForm.plainPasswordConfirm.vars.id }}">Confirmer le mot de passe :</label>
            <div class="input-group">
                {{ form_widget(registrationForm.plainPasswordConfirm, {'attr': {'class': 'form-control'}}) }}
                <div class="password-icon">
                    <span class="material-symbols-outlined eye-off">visibility_off</span>
                    <span class="material-symbols-outlined eye-on">visibility</span>
                </div>
            </div>
            {{ form_errors(registrationForm.plainPasswordConfirm) }}
        </div>

        <button type="submit" class="btn">Créer un compte</button>
    {{ form_end(registrationForm) }}

    <hr class="separator">

    <div data-controller="hello" class="mb-3 text">
        <p>Déjà inscrit ?</p>
        <button data-action="click->hello#handleClick" data-url="{{ path('app_login') }}">
            Se Connecter
        </button>
    </div>
</section>
{% endblock %}
