<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav class="navbar">
                    <div class="navbar-container">
                        <div class="navbar-logo">
                            <a href="{{ path('app_home') }}">
                                <img src="{{ asset('image/Logo.png') }}" alt="Logo">
                            </a>
                            <p class="slogan">Don't compromise on your look</p>
                        </div>
                        <ul class="navbar-links">
                            
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app_admin') }}">Back-Office</a></li>
                                <li><a href="{{ path('app_shop') }}">Boutique</a></li>
                                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                <li><a href="{{ path('app_shop') }}">Boutique</a></li>
                                <li><a href="{{ path('app_cart') }}">Panier</a></li>
                                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% else %}
                                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
            <footer class="footer">
                <div class="footer-container">
                    <div class="footer-logo">
                        <a href="{{ path('app_home') }}">
                            <img src="{{ asset('image/Logo.png') }}" alt="Logo">
                        </a>
                    </div>
                    <div class="footer-links">
                        <h2>Informations légales :</h2>
                        <a href="#">Mentions Légales</a>
                        <a href="#">Données personnelles</a>
                        <a href="#">Accessibilité</a>
                        <a href="#">Conditions d'utilisation</a>
                        <a href="#">Politique de confidentialité</a>
                        <a href="#">Cookies</a>
                    </div>
                    <div class="footer-contact">
                        <h2>Adresse :</h2>
                        <address class="footer-address">
                            Piccadilly Circus<br>
                            London W1J 0DA<br> 
                            Royaume-Uni
                        </address>
                        <h2>Mail :</h2>
                        <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
                    </div>
                    
                </div>
                <p class="footer-copyright">&copy; 2025 Stubborn. Tous droits réservés.</p>
            </footer>
        {% endblock %}
    </body>
</html>
